<html>
<link rel="stylesheet" href="{{ url_for('static', filename='auth.css')}}">
<body>
{% for message in get_flashed_messages() %}
    <div>{{message}}</div>
{% endfor %}
<div class="login_container">
    <form class="login_form" method="post">
        <label for="username">Username</label>
        <input name="username" id="username" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        <input class="button" type="submit" value="Log In">
        <a class="button" href="{{ url_for('auth.register_get') }}">Register</a>
    </form>
</div>
</body>
</html>